
.Album{
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.Album figure{
    padding: 20px;
    margin-bottom: 80px;
}

.Album img{
    width: 100%;
}

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Album .cover img{
    border-radius: 25px;
    width: 80%;
    box-shadow: 1px 1px 30px #FFF;
}

.Album  ul{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 60px;
}

.Album ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.logo{
    margin-left: 5px;
    cursor: pointer;
    font-size: 25px;
}

.Album p{
    padding: 0 100px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.Album  p span{
    color: #c4a923;
    cursor: pointer;
    transition: all 0.5s;
}

.Album p span:hover{
    text-decoration: underline;
}

.ticket-or{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-or img{
    width: 70%;
}

.blob{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 34%;
    left: 10%;
    transform: rotate(65deg);
}


@media  all and (max-width: 1100px){
    .blob{
        width: 140%;
        position: absolute;
        z-index: -1;
        top: 25%;
        left: 0%;
        transform: rotate(65deg);
    }
}

@media all and (max-width: 750px) {
    .Album ul{
        align-items: center;
    }   

    .blob{
        width: 180%;
        position: absolute;
        z-index: -1;
        top: 18%;
        left: -8%;
        transform: rotate(65deg);
    }
}

@media all and (max-width: 550px) {
    .Album ul{
        align-items: center;
    } 

    .Album ul li{
        font-size: 25px;
    }
    
    .Album p{
        font-size: 25px;
    }

    .blob{
        width: 220%;
        position: absolute;
        z-index: -1;
        top: 11%;
        left: -22%;
        transform: rotate(65deg);
    }
}

@media all and (max-width: 450px) {
    .Album ul{
        align-items: center;
    } 

    .Album ul li{
        font-size: 20px;
    }
    
    .Album p{
        font-size: 20px;
    }

    .blob{
        width: 250%;
        position: absolute;
        z-index: -1;
        top: 11%;
        left: -22%;
        transform: rotate(65deg);
    }
}