

nav figure {
    width: 20%;
    justify-self: start;
  }
  
/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100%;
    min-height: 75px;
    color: #fff;
    display: flex;
    backdrop-filter: blur(15px);
    background-color: rgba(128, 202, 245, 0.2);
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    position: fixed;  
    margin: 0;
    padding: 1rem;
    z-index: 2;
}
.navbar__Link {
    display: flex;
    position: relative;
    left: 20%;
  }
  .navbar__item {
    padding: 0 0.3rem;
    color: #fff;
    font-size: 2rem;
    margin: 0 1rem;
  }
  .navbar__item:hover {
    color: #FFA8DA;
    text-decoration: underline;
    cursor: pointer;
  }
.menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(247, 247, 248);
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 1;
    position: fixed;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.header article {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    top: -10%;
  }
  
.header article h1 {
    width: 100%;
    margin: 5% 5% 0% 7%;
    font-size: 10rem;
    color: #fff;
  } 
  
.action1 {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 10%;
  }
  
 .action1 button {
    font-size: 1.5rem;
    padding: 2%;
    width: 200px;
    height: 80px;
    border-radius: 15px;
    color: #fff;
  }
  
  .TikD {
    background-color: #E9C404;
  }
  .TikD:hover
  {
    background-color: #ffffff;
    color: #E9C404;
  }
  .Commd {
    background-color: #2CB6DA;
    border: 4px solid #fff;
  }
  .Commd:hover {
    background-color: #fff;
    border: 4px solid #2CB6DA;
    color: #2CB6DA;
}

@media screen and (max-width:767px) {
  nav figure {
    position: relative;
    left: -15%;
    width: 20%;
    justify-self: start;
  }
    .burger-menu {
        height: 100%;
        width: 4em;
        position: relative;
        left: 17%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .burger-bar {
        width: 4em;
        height: 0.5em;
        background-color: #ffffff;
        margin-top: 10px;
        border-radius: 0.5em;
    }

    .navbar__Link 
    {
        display: none;
    }
    .header article {
      width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        z-index: 0;
      }
    .header article h1 {
        width: 100%;
        position: relative;
        margin: 5% 0% 0% 0%;
        font-size: 7rem;
        color: #fff;
      } 
      .action1 {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 10%;
      }
    .action1 button {
        font-size: 1.5rem;
        padding: 2%;
        width: 200px;
        height: 80px;
        border-radius: 15px;
        color: #fff;
    }
    
    .TikD {
    background-color: #E9C404;
    }
    .TikD:hover
    {
    background-color: #ffffff;
    color: #E9C404;
    }
    .Commd {
    background-color: #2CB6DA;
    border: 4px solid #fff;
    }
    .Commd:hover {
    background-color: #fff;
    border: 4px solid #2CB6DA;
    color: #2CB6DA;
}
}

