* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  position: relative;
}

.Home {
  background-color: #2CB6DA;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.UpCase {
  text-transform: uppercase;
}